{% extends 'index.html' %}
{% block content %}

<h1>Dades dels estudiants</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.id_student }}</td>
            <td>{{ student.nom }}</td>
            <td>{{ student.rol }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}